    <div class="single product">
        <h3  class="list-group"
        class="list-group-item list-group-item-action"
        >Продукти</h3>
        <div *ngFor="let product of products">
        <div class="col-md-3 column productbox">
              <div>
              <img src="http://placehold.it/460x250/4dff4d/ffffff&text=IMAGE" class="img-responsive">
              <div class="producttitle">{{product.name|uppercase}}</div>
              <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£{{product.price | uppercase}}</div></div>               
        </div>
    </div>                
    </div>
        </div> 

   