 <!-- List of categories -->

 
<div class="container">
  <div class="row">
    <div class="col-sm-4">

      <div class="single category">
        <h3  class="list-group"
        class="list-group-item list-group-item-action"
        >Категории</h3>
          <ul class="list-group">
              <li 
              class="list-group-item list-group-item-action list-group-item-success"
              *ngFor="let category of categories">
                  <span class="pull-left">{{category.id}}</span> {{category.title | uppercase}}
                  <span class="pull-right">
                <button 
                  class="delete" title="delete category"
                  (click)="deleteCategory(category._id)">
                x
                </button></span>
              </li>
                
          </ul>
        </div>  
        </div> 
              <div class="col-sm-8">               
                  <app-products></app-products>                
            </div>
            
    </div>
  

 <!-- Добавяне на категория -->
<div class="container">
    <h1>Добавяне на категория</h1>
    <form (ngSubmit)="addCategory()" #categoryForm="ngForm">
      <div class="form-group">
        <label for="id">ID</label>
        <input type="text" class="form-control" id="id" 
        required
        [(ngModel)]="model.id"
        name="id"
        #id="ngModel">
        <div [hidden]="id.valid || id.pristine" class="alert alert-danger">
          ID е задължително!
        </div>
      </div>
      <div class="form-group">
          <label for="title">Заглавие</label>
          <input type="text" class="form-control" id="title" 
          required
          [(ngModel)]="model.title"
          name="title"
          #title="ngModel">
          <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
            Заглавие е задължително!
          </div>
        </div>

  <button [disabled]="!categoryForm.form.valid" type="submit" class="btn btn-success">addCategory</button>    
</form>
<div *ngIf="addCategorySuccess" class="alert alert-success">
    Успешно добавена категория: {{titleCategory}}!
</div>
<div *ngIf="addCategoryFail" class="alert alert-danger">
    Категорията съществува вече!
</div>
</div>

